@tailwind base;
@tailwind components;
@tailwind utilities; 

@media screen and (max-width:700px) {
  .ReactTags__tag {
    display       : inline-flex;
    flex-direction: row;
  }

  .ReactTags__tagInput {
    display      : block;
    flex-grow    : 1;
  }
}

.ReactTags {
  display    : block;
  flex-wrap  : wrap;
  align-items: center;
}

.ReactTags__tag {
  background   : #020617;
  color        : #fff;
  border-radius: 3px;
  margin       : 2px;
  padding      : 5px 8px;
}

.ReactTags__tagInput {
  display      : inline-block;
  padding      : 5px 8px;
  font-size    : 14px;
  border       : 1px solid #ccc;
  border-radius: 3px;
}

.ReactTags__suggestions {
  list-style: none;
  padding   : 0;
  margin    : 0;
}

.ReactTags__suggestion {
  padding: 8px;
  cursor : pointer;
}


/* .ReactTags__tags {
  display    : inline-flex;
  flex-wrap  : wrap;
  width      : fit-content;
  align-items: center;
  margin-top : 0.25rem;
}

.ReactTags__tagInput {
  display    : inline-block;
  width      : auto;
  margin-left: 0.5rem;

}

 .ReactTags__selected .ReactTags__tag {
  background-color: #020617;
  color           : #f1f5f9;
  border-style    : hidden;
  border-radius   : 1.5mm;
  border-width    : 5px;
  padding-top     : 2mm;
  padding-bottom  : 2mm;
  padding-left    : 1.5mm;
  padding-right   : 1.5mm;
  margin-right    : 1.5mm;
} */

.mask-circle {
  -webkit-mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0.5) 50%);
  mask-image        : radial-gradient(circle, black 50%, rgba(0, 0, 0, 0.5) 50%);
}

.form-wrapper {
  height     : 100vh;
  display    : flex;
  align-items: center;
}

.form-wrapper .container {
  max-width: 600px;
}

.form-wrapper form {
  border-radius: 10px;
  box-shadow   : 0 0 5px 0 hsl(0, 0%, 74%);
  padding      : 20px;
}

.form-wrapper .form-floating>.form-control {
  height: 55px;
}